*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: seashell;

}
body{
    margin: 0em;
    padding: 0em;
    height: 100%;
}
.contenu{
    display: flex;
    flex-direction: inline;
    width: 100%;

}
header{
    max-height: 100%;
    float: left;
    width: 40%;
    border: 1px solid black;
    background: teal;
}
img{
    margin-left: 35px;
}
section{
    
    height: 100%;
    float: right;
    width: 60%;
    border: 1px solid black;
   
}
header,h1,img,p,b{
    background: teal;
    
}

section article,h2,ul,li,b,strong{
    
    margin-top: 20px;
    margin-left: 20px;
    
}
h2{
    text-decoration: underline;
}